<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/favicons/favicon.ico">
    <link rel="manifest" href="/favicons/site.webmanifest">
</head>
<body>
<div class="header">
    <h1>{{title}}</h1>
    <p style="color: var(--color-complement-1)">MEANer than a junkyard dog.
        <br>By Tommy Kearns & Jack Madden.</p>
</div>

<div class="topnav">
    <a href="/">Home Page</a>
    <a href="/bike">Bike</a>
    <a href="/home">Other Home Page</a>
    <a href="/login" style="float:right">Log In</a>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>{{ title }}</h2>
            <div style="text-align: center;">
                {{{ body }}}
            </div>
        </div>
        <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div style="align-items: center">
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco.</p>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>
</html>
