<h1>Enter login details</h1>
<form action="/login/submit" method="post">
    <input type="text" name="name" id="name" placeholder="Username"><br>
    <input type="text" name="password" id="password" placeholder="Password"><br>
    <button type="submit">Sign in</button><br>
</form>
<form action="/signup/submit" method="post"><br>
    <input type="text" name="name" id="name" placeholder="Username"><br>
    <input type="text" name="password" id="password" placeholder="Password"><br>
    <button type="submit">Create account</button>
</form>
